.list-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 695px;
  padding: 10px 50px;
  margin: 5px 20px;
  border-radius: 6px;
  background: white;
}
.listproduct-format-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  padding: 15px 0px;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}

.listproduct-format {
  align-items: center;
  font-weight: 500;
  width: 1000px;
}
.listproduct-product-icon {
  height: 80px;
}
.listproduct-remove-icon {
  cursor: pointer;
  margin: auto;
}
.listproduct-allproducts{
    overflow-y: auto;
}

@media (max-width:1355px){
    .list-product{
        width: 70%;
    }
}

@media (max-width:1285px) {
    .list-product{
        width: 70%;
    }
    .listproduct-format-main{
        width: 800px;
    }
}
@media (max-width:1040px) {
    .list-product{
        width: 60%;
    }
    .listproduct-format-main{
        width: 600px;
    }
}
@media (max-width:850px) {
    .list-product{
        width: 55%;
    }
    .listproduct-format-main{
        width: 450px;
    }
}
@media (max-width:800px){
    .list-product{
        box-sizing: border-box;
        width: 80%;
        height: 100%;
        padding: 10px 30px;
        margin:20px auto;
    }
}
@media (max-width:630px){
    .list-product{
        box-sizing: border-box;
        width: 80%;
        height: 100%;
        padding: 10px 30px;
        margin:20px auto;
    }
    .list-product{
        width: 90%;
    }
    .listproduct-format-main{
        width: 400px;
    }
}
@media (max-width:450px){
    .list-product{
        width: 100%;
        padding: 10px 0px;
        margin: 5px;
    }
    .listproduct-format-main{
        width: 370px;
    }
}
